<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.game">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SudokuGame.SudokuEndScreenActivity"
            android:parentActivityName=".PlayerPackage.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlayerPackage.MainActivity" />
        </activity>
        <activity
            android:name=".PlayerPackage.ChooseGame"
            android:parentActivityName=".PlayerPackage.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlayerPackage.MainActivity" />
        </activity>
        <activity
            android:name=".SudokuGame.SudokuEnterGameActivity"
            android:parentActivityName=".PlayerPackage.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlayerPackage.MainActivity" />
        </activity>
        <activity
            android:name=".WarGame.WarGameActivity"
            android:parentActivityName=".PlayerPackage.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlayerPackage.MainActivity" />
        </activity>
        <activity
            android:name=".WarGame.WarGameEndScreenActivity"
            android:parentActivityName=".PlayerPackage.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlayerPackage.MainActivity" />
        </activity>
        <activity
            android:name=".PlayerPackage.EndScreenActivity"
            android:parentActivityName=".PlayerPackage.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlayerPackage.MainActivity" />
        </activity>
        <activity
            android:name=".PictureGame.PictureGameActivity"
            android:parentActivityName=".PlayerPackage.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlayerPackage.MainActivity" />
        </activity>
        <activity
            android:name=".PictureGame.PictureEndScreenActivity"
            android:parentActivityName=".PlayerPackage.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlayerPackage.MainActivity" />
        </activity>

        <activity
            android:name=".SudokuGame.SudokuActivity"
            android:parentActivityName=".PlayerPackage.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlayerPackage.MainActivity" />
        </activity>

        <activity android:name=".PlayerPackage.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>